<div id="main-visual">
  <%= image_tag 'main-visual.jpg' %>
  <div class="main-title">
    <h1>HOURDIS・CARRY</h1>
    <p class="mb-5">手ぶら旅行をどこからでも</p>
    <div class="reservation-btn">
      <%= link_to "予約する", new_reservation_path, class:"btn shadow-lg" %>
    </div>
  </div>
</div>
<section id="service" class="container pt-4 pb-4">
  <h2 class="text-center">サービス内容</h2>
  <p>テキストテキストテキストテキストテキストテキストテキストテキスト<p>
</section>
